// BADGES

$badge-font-size:                   .75em;
$badge-font-weight:                 normal;
$badge-color:                       $white;
$badge-padding-y:                   .35em;
$badge-padding-x:                   .4em;
$badge-border-radius:               0;
